<div class="slide">
    <div class="col-container">
        <div class="col gainsboro">
            <div class="header">
                <p><b> Praktiskt oplæring i virksomhed </b></p>
                <p><b> Ca.3mdr </b></p>
                <p><b> "P1" </b></p>
            </div>
            <div class="body">
                <div>
                    <p><b><u>Elev kan:</u></b></p>
                </div>

                <div>
                    <p>Udføre simple opgaver hvor dataudstyr anvendes</p>
                </div>

                <div>
                    <p><b>men bør arbejde med:</b></p>
                </div>

                <div>
                    <p>
                        Eleven skal
                        selvstændigt kunne
                        fremstille små enkle
                        programmer med et
                        programmeringssprog,
                        hvor der benyttes flere
                        af sprogets kontrolstrukturer, datatyper og
                        variabler.
                    </p>
                </div>

                <div>
                    <p>
                        Eleven skal kunne
                        anvende et
                        programmeringsværktøj til udvikling af
                        programmer og benytte
                        dets debuggingfaciliteter
                    </p>
                </div>

                <div>
                    <p>
                        Eleven skal kunne
                        håndtere forskellige
                        talsystemer, såsom det
                        decimale, det binære
                        og det hexadecimale
                        talsystem, og benytte
                        disse i forbindelse med
                        f.eks. IP-adresser.
                    </p>
                </div>
            </div>
        </div>
        <div class="col deepskyblue">
            <div class="header">
                <p><b>H1 Skoleperiode</b></p>
                <p><b> * </b></p>
                <p><b>10 uger</b></p>
            </div>
            <div class="body">
                <div>
                    <p><b><u>Indhold:</u></b></p>
                </div>
                <div>
                    <p><b> Serveradministration og Sikkerhed</b></p>
                    <p>Rutineret </p>
                    <p>2 uger</p>
                </div>

                <div>
                    <p><b> Valgfriespecialefag</b></p>
                    <p>
                        Studieteknik og
                        rapportskrivning
                    </p>
                    <p>1 uge</p>
                </div>

                <div>
                    <p><b>
                            Grundlæggende
                            programmering
                        </b></p>
                    <p>Rutineret</p>
                    <p>2 uger</p>
                </div>

                <div>
                    <p><b>
                            Objektorienteret
                            programmering
                        </b>
                    </p>
                    <p>Rutineret</p>
                    <p>2 uger</p>
                </div>

                <div>
                    <p><b>Database Programmering</b></p>
                    <p>
                        Grundlæggende SQL
                        Avanceret
                    </p>
                    <p>1 uge</p>
                </div>

                <div>
                    <p><b>Computer Teknologi</b></p>
                    <p>Rutineret</p>
                    <p>1 uge</p>
                </div>

                <div>
                    <p><b>
                            Clientside
                            programmering
                        </b>
                    </p>
                    <p>HTML og CSS Rutineret</p>
                    <p>1 uge</p>
                </div>
            </div>
        </div>
        <div class="col gainsboro">
            <div class="header">
                <p><b> Praktiskt oplæring i virksomhed</b></p>
                <p><b>Ca.6mdr</b></p>
                <p><b>"P2"</b></p>
            </div>
            <div class="body">
                <div>
                    <p><b><u>Eleven kan:</u></b></p>
                </div>

                <div>
                    <p>
                        Designe, opbygge
                        og implementere
                        mindre
                        databaseløsninger.
                    </p>
                </div>

                <div>
                    <p>
                        Foretage
                        administration,
                        såsom sikkerhed,
                        rettigheder og
                        backup af
                        databaseserver.
                    </p>
                </div>

                <div>
                    <p>
                        Foretage mindre
                        opsætning og
                        administration af
                        operativsystemer
                        og netværk.
                    </p>
                </div>

                <div>
                    <p>
                        Udvikle mindre
                        consol-programmer
                        og webapplikationer, der
                        benytter HTML.
                    </p>
                </div>
            </div>
        </div>
        <div class="col deepskyblue">
            <div class="header">
                <p><b> H2 Skoleperiode</b></p>
                <p><b>* </b></p>
                <p><b>10 uger</b></p>
            </div>
            <div class="body">
                <div>
                    <p><b><u>Indhold: </u></b></p>
                </div>

                <div>
                    <p><b> Serverteknologi </b></p>
                    <p>Rutineret</p>
                    <p>1,5 uge</p>
                </div>

                <div>
                    <p><b> Netværk 1</b></p>
                    <p>Rutineret</p>
                    <p>2 uger</p>
                </div>

                <div>
                    <p><b>
                            Serverteknologi -
                            Databaseserver
                        </b></p>
                    <p>Rutineret</p>
                    <p>1 uge</p>
                </div>

                <div>
                    <p><b><u>Lokal H2 case:</u></b></p>
                    <p>4 uger</p>
                </div>

                <div>
                    <p><b>
                            Objektorienteret
                            programmering
                        </b>
                    </p>
                    <p>Rutineret</p>
                    <p>2 uger</p>
                </div>

                <div>
                    <p><b>
                            Database
                            programmering
                        </b>
                    </p>
                    <p>
                        Database design og
                        SQL samt
                        Performance
                        Avanceret
                    </p>
                    <p>1 uge</p>
                </div>

                <div>
                    <p><b> GUI-Programmering</b></p>
                    <p>
                        WPF (Windows) eller
                        Swing (Java)
                        Avanceret
                    </p>
                    <p>1 uge</p>
                </div>

                <div>
                    <p><b>
                            Clientside
                            programmering
                        </b></p>
                    <p>
                        JavaScript
                        Rutineret
                    </p>
                    <p>1,5 uge</p>
                </div>
            </div>
        </div>
        <div class="col gainsboro">
            <div class="header">
                <p><b> Praktiskt oplæring i virksomhed</b></p>
                <p><b> Ca.6mdr</b></p>
                <p><b>"P3"</b></p>
            </div>
            <div class="body">
                <div>
                    <p><b><u>Eleven kan:</u></b></p>
                </div>

                <div>
                    <p>
                        Designe, opbygge og
                        implementere webapplikationer der
                        benytter HTML og
                        CSS, samt
                        administrere webserver.
                    </p>
                </div>

                <div>
                    <p> 
                        Designe, opbygge og
                        implementere GUIprogrammer, såsom
                        Windowsprogrammer.
                    </p>
                </div>

                <div>
                    <p>
                        Designe, opbygge og
                        implementere
                        databaseløsninger
                        samt optimere
                        performance.
                    </p>
                </div>

                <div>
                    <p>
                        Sikre programmer
                        over for misbrug.
                    </p>
                </div>

                <div>
                    <p>
                        Administrere webserver (evt. Linux
                        Apache)
                    </p>
                </div>

                <div>
                    <p>
                        Deltage i
                        procesforløb over for
                        kunder.
                    </p>
                </div>

                <div>
                    <p>
                        Deltage i at håndtere
                        arbejdsopgaver fra
                        help-desk.
                    </p>
                </div>
            </div>
        </div>
        <div class="col deepskyblue">
            <div class="header">
                <p><b>H3 Skoleperiode</b></p>
                <p><b>*</b></p>
                <p><b>10 uger</b></p>
            </div>
            <div class="body">
                <div>
                    <p><b><u>Indhold:</u></b></p>
                </div>

                <div>
                    <p><b>
                            IOT og Embedded
                            systemer
                        </b>
                    </p>
                    <p>Avanceret</p>
                    <p>2 uger</p>
                </div>

                <div>
                    <p><b>Phyton 1</b></p>
                        <p>Rutineret</p>
                        <p>1 uge</p>
                </div>

                <div>
                    <p><b>
                            Big Data begreber,
                            teknikker og
                            processer
                        </b></p>
                    <p>Rutineret</p>
                    <p>1 uge</p>
                </div>

                <div>
                    <p><b><u>Lokal H3 case:</u></b></p>
                    <p>6 uger</p>
                </div>

                <div>
                    <p><b>
                            Softwaretest og
                            sikkerhed
                        </b></p>
                    <p>
                        Testplaner og
                        metodiker
                        Rutineret
                    </p>
                    <p>0,5 uge</p>
                </div>

                <div>
                    <p><b>
                            Serverside
                            programmering
                        </b></p>
                    <p>
                        Web Application og
                        Web API
                        Avanceret
                    </p>
                    <p>2 uger</p>
                </div>

                <div>
                    <p><b>
                            Database
                            programmering
                        </b></p>
                    <p>
                        ORM og
                        udarbejdelse af GUI
                        interface
                        Avanceret
                    </p>
                    <p>1 uge</p>
                </div>

                <div>
                    <p><b> GUI-Programmering</b></p>
                    <p>
                        Single Page
                        Applications (SPA)
                        Kommunikation med
                        Web-service
                        Avanceret
                    </p>
                        <p>1,5 uge</p>
                </div>

                <div>
                    <p><b>
                            Objektorienteret
                            analyse og design
                        </b></p>
                    <p>
                        (valgfrie specialefag)
                        Rutineret
                    </p>
                    <p>1 uge</p>
                </div>
            </div>
        </div>
        <div class="col gainsboro">
            <div class="header">
                <p><b>
                        Praktiskt oplæring
                        i virksomhed
                    </b></p>
                <p><b>
                        Ca.
                        6mdr
                    </b></p>
                <p><b> "P4" </b></p>
            </div>
            <div class="body">
                <div>
                    <p><b><u>Eleven kan:</u></b></p>
                </div>

                <div>
                    <p>
                        Designe, opbygge og
                        implementere
                        programmer, der
                        benytter database.
                    </p>
                </div>

                <div>
                    <p>
                        Designe, opbygge og
                        implementere
                        programmer, der
                        fungerer som SPA.
                    </p>
                </div>

                <div>
                    <p>
                        Designe, opbygge og
                        implementere
                        programmer der
                        udbyder Web-API
                        service, samt
                        programmer der
                        konsumerer Web-API.
                    </p>
                </div>

                <div>
                    <p>
                        Designe, opbygge og
                        implementere
                        programmer til
                        embeddede
                        controllere samt
                        programmer, der
                        kommunikerer med
                        disse (evt. Arduino).
                        Øve sig i
                        programmering af
                        sprog der egner sig til
                        analyse (ex. Phyton)
                    </p>
                </div>

                <div>
                    <p>
                        Teste udviklede
                        programmer samt
                        udvikle
                        sikkerhedsløsninger i
                        ifm.
                        programudvikling
                    </p>
                </div>
            </div>
        </div>
        <div class="col deepskyblue">
            <div class="header">
                <p><b> H4 Skoleperiode</b></p>
                <p><b>*</b></p>
                <p><b> 10 uger</b></p>
            </div>
            <div class="body">
                <div>
                    <p><b><u>Indhold:</u></b></p>
                </div>

                <div>
                    <p><b>
                            IOT og Embedded
                            systemer
                        </b></p>
                    <p>Avanceret</p>
                        <p>1,8 uger</p>
                </div>

                <div>
                    <p><b>Kommunikation</b></p>
                        <p>Rutineret</p>
                        <p>1 uge</p>
                </div>

                <p><b>
                        App programmering
                        I
                    </b>
                    Rutineret
                    1 uge
                </p>

                <p><b><u> Lokal H4 Case</u></b>
                    2 uger
                </p>

                <p><b>
                        App
                        programmering II
                    </b>
                    Cros platform
                    Benytter enhedens
                    data
                    Avanceret
                    1 uge
                </p>

                <p><b>Valgfrie specialefag</b>
                    Java IV
                    1 uge
                </p>

                <p><b>
                        Softwaretest og
                        sikkerhed
                    </b>
                    Testplaner og
                    metodiker
                    Rutineret
                    1 uge
                </p>

                <p><b>
                        Serverside
                        programmering
                    </b>
                    Asynkron
                    programmering
                    Avanceret
                    1 uger
                </p>

                <p><b>
                        Linux rettet mod
                        server og
                        embedded
                    </b>
                    Rutineret
                    1 uge
                </p>

                <p><b>
                        IOT og Embedded
                        systemer
                    </b>
                    Avanceret
                    1,2 uger
                </p>
            </div>
        </div>
        <div class="col gainsboro">
            <div class="header">
                <p><b> Praktiskt oplæring i virksomhed</b></p>
                <p><b> Ca.6mdr</b></p>
                <p><b>
                        "P5"
                    </b></p>
            </div>
            <div class="body">
                <p><b><u>Eleven kan:</u></b></p>
                <p>
                    Designe, opbygge og
                    implementere Apps,
                    der benytter den
                    mobile enheds
                    interne data, samt
                    Apps, der kan
                    afvikles på flere
                    forskellige mobile
                    platforme.
                </p>
                <p>
                    Udarbejde
                    kravspecifikation og
                    dokumentation på
                    dansk og engelsk.
                </p>
                <p>
                    Teste software ift.
                    hacking og anden
                    misbrug.
                </p>
                <p>
                    Deltage i softwareprojektudvikling ved
                    brug af Scrum og XP
                    eller anden metodik.
                </p>
            </div>
        </div>
        <div class="col deepskyblue">
            <div class="header">
                <p><b>H5 Skoleperiode</b></p>
                <p><b> * </b></p>
                <p><b>10 uger</b></p>
            </div>
            <div class="body">
                <p><b><u>Indhold:</u></b></p>
                <p><b> Python 2</b>
                    Rutineret
                    1 uge
                </p>

                <p><b>
                        Big Data modeller
                        og datamodellering
                    </b>
                    Rutineret
                    1 uge
                </p>

                <p><b>Serverside scripting</b>
                    Rutineret
                    1 uge
                </p>

                <p><b>
                        App
                        programmering III
                    </b>
                    Benytter data fra
                    omverdenen
                    Avanceret
                    1 uge
                </p>

                <p><b>Projektstyring</b>
                    Prince2
                    Rutineret
                    1 uge
                </p>

                <p><b>
                        IT Service
                        Management I
                    </b>
                    Rutineret
                    1 uge
                </p>

                <p><b><u>Lokal H5 Case</u></b>
                    4 uger
                </p>


                <p><b> Programmeringsmetodik</b>
                    Scrum og XP
                    Rutineret
                    1 uge
                </p>

                <p><b> IT-Kravsspecifikation</b>
                    Rutineret
                    1 uge
                </p>

                <p><b>
                        Systemudvikling og
                        projektstyring
                    </b>
                    Avanceret
                    2 uger
                </p>
            </div>
        </div>
        <div class="col gainsboro">
            <div class="header">
                <p><b> Praktiskt oplæring i virksomhed</b></p>
                <p><b> Ca. 6mdr</b></p>
                <p><b> "P6"</b></p>
            </div>
            <div class="body">
                <p><b><u>Eleven kan: </u></b></p>
                <p>
                    Designe, opbygge og
                    implementere
                    synkrone og
                    asynkrone
                    programmer, der
                    udføres på servere til
                    f.eks. styringer og
                    automatiseringer,
                    hvor programmerne
                    benytter kryptering og
                    anden form for
                    sikkerhed.
                </p>
                <p>
                    Designe, opbygge og
                    implementere
                    programmer til
                    embedede systemer,
                    der benytter Ethernetkommunikation og
                    TCP/IP protokollen.

                </p>
                <p>
                    Designe, opbygge og
                    implementere
                    programmer der
                    udføres i Linux-miljø,
                    såsom servere og
                    embeddede Linuxsystemer.
                </p>
                <p>
                    Designe, opbygge og
                    implementere Apps
                    på mobile enheder,
                    hvor der benyttes ude
                    fra kommende data.
                </p>
                <p>
                    Planlægge og styre et
                    projektforløb hvor der
                    udvikles programmer.
                </p>
            </div>
        </div>
        <div class="col deepskyblue">
            <div class="header">
                <p><b>H6 Skoleperiode</b></p>
                <p><b> * </b></p>
                <p><b> 6 uger</b></p>
            </div>
            <div class="body">
                <p><b><u>Indhold:</u></b></p>
                <p><b> Påbygning</b>
                    Rutineret
                    1 uge
                </p>

                <p><b>Udvikling</b>
                    Avanceret
                    1 uge
                </p>

                <p><b>
                        Afsluttende projekt
                        Svendeprøve
                    </b></p>
                <p>
                    Eksamineres i
                    ovenstående, samt
                    tidligere undervisning
                    fra foregående
                    skoleperioder
                </p>
                <p>
                    Avanceret
                    4 uger
                </p>
            </div>
        </div>
        <div class="col gainsboro">
            <div class="header">
                <p><b> Praktiskt oplæring i virksomhed</b></p>
                <p><b>"Rest"</b></p>
            </div>
            <div class="body">
                <p><b><u>Eleven kan:</u></b></p>
                <p>
                    Anvende alle
                    arbejdsdiscipliner og
                    metoder
                    ud fra det
                    nødvendige
                    kvalitetsniveau og i
                    henhold til
                    uddannelsens
                    slutmål
                </p>
            </div>
        </div>
    </div>
</div>