.banner {
    position: absolute;
    display: flex;
    background: #e6534e;
background: linear-gradient(90deg, rgba(230, 83, 78, 1) 0%, rgba(67, 94, 230, 1) 0%, rgba(92, 250, 245, 1) 100%);
    height: inherit;
    width: inherit;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
}

img {
    height: 100%;
}

.title {
    position: relative;
    top: 10%;
}

.clock {
    position: relative;
    font-size: large;
    top: 30%;
    padding-right: 10px;
}