.day {
    height: 100%;
    width: 100%;;
    border: 1px solid lightgray;
    padding: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.event {
    /* height: 80%; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}