app-banner {
    height: 5vh;
    width: 100vw;
}

app-calendar {
    height: 95vh;
    width: 20vw;
}

.slide {
    position: absolute;
    left: 20vw;
    top: 5vh;
    height: 95vh;
    width: 80vw;
}